<div class="row mt-1 mb-1">
    <div class="col-4">
        <strong>Doctor Name </strong>
    </div>
    <div class="col-8">
        : {{doctorDetails?.firstName}} {{doctorDetails?.lastName}}
    </div>
</div>
<div class="row mt-1 mb-1">
    <div class="col-4">
        <strong>Email </strong>
    </div>
    <div class="col-8">
        : {{doctorDetails?.email}}
    </div>
</div>
<div class="row mt-1 mb-1">
    <div class="col-4">
        <strong>Mobile Number </strong>
    </div>
    <div class="col-8">
        : {{doctorDetails?.mobileNumber}}
    </div>
</div>
<div class="row mt-1 mb-1">
    <div class="col-4">
        <strong>Appt. Date </strong>
    </div>
    <div class="col-8">
        <input type="date" class="form-control" [(ngModel)]="appointmentDate">
    </div>
</div>
<br>
<button class="btn btn-info float-right" (click)="saveAppointment()">Book Appointment</button>