.login-page{
    background-image: url('./../../../../assets/img/addiction-bottle-capsule.jpg');
    min-height: 730px;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
        background-color: rgba(221, 218, 218, 0.9) !important;
        margin-top: 150px;
}
.card-header{
    text-align: center;
    color: #7373ef;
}