
/* .navbar-float-right{
    padding-left: 58% !important;
} */

.dropdown-menu{
    margin: .125rem 75% 0 !important;
}

.fa-user-circle-o{
    color: #fff;
}

.modal-dialog {
    max-width: 750px !important;
}
