<application-header></application-header>

<div class="row">
    <div class="col-12 col-sm-12 col-md-9 com-lg-9 mx-auto">
        <div class="pt-3 pb-3">
            <i class="fa fa-caret-square-o-left" style="font-size: 32px" [routerLink]="['/doctor-dashboard']"></i>
            <h2 class="inline-block pl-3">List Visited Patient</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-12 col-md-9 com-lg-9 mx-auto">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Mobile Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let parient of visitedPatients">
                            <td>{{parient?.date | date}}</td>
                            <td>{{parient?.user?.firstName}}</td>
                            <td>{{parient?.user?.lastName}}</td>
                            <td>{{parient?.user?.email}}</td>
                            <td>{{parient?.user?.mobileNumber}}</td>

                            <!-- <td>
                                <div class="actions">
                                    <a *ngIf="appointment.status == 'PENDING' || appointment.status == 'REJECTED' "
                                        href="javascript:void(0)" (click)="updateStatus(appointment._id, 'ACCEPTED')">
                                        <i class="fa fa-check" style="font-size: 18px; color: green"></i>
                                    </a>
                                    <a *ngIf="appointment.status == 'PENDING' || appointment.status == 'ACCEPTED' "
                                        href="javascript:void(0)" (click)="updateStatus(appointment._id, 'REJECTED')">
                                        <i class="fa fa-close" style="font-size: 18px; color: red"></i>
                                    </a>
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#patientProfile"
                                        (click)="viewProfile(appointment.user._id)">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>